@charset "UTF-8";

.contenedor::-webkit-scrollbar {
    width: 15px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.contenedor::-webkit-scrollbar-thumb {
    background: #ff8000;
    border-radius: 10px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.contenedor::-webkit-scrollbar-thumb:hover {
    background: #c46200;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.contenedor::-webkit-scrollbar-thumb:active {
    background-color: #c46200;
}

.contenedor::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}